/* for screens to 1200px (smaller than 1140) */
@media only screen and (max-width: 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
}
}
    .row {padding: 0 2%;}

/* for screens from 768 to 1024px wide */
@media only screen and (max-width: 1024px){
    body{font-size: 18px;}
    section{padding:60px 0;}
    .long-copy{width: 80%;
               margin-left: 10%;
    }
    .work-step {margin-bottom: 20px;}
    .step-box:last-child{margin-top: 70px;}
    .app-screen{width: 55%;}
    .city-box{padding-right: 5px;
    font-size: 90%;}
    .city-icons{
        width: 20px;
        margin-right: 5px;}
    .plan-box{
    width: 100%;
    margin-left: 0%;}
    .plan-price {
    font-size: 220%;
    font-weight: 300;
    margin-bottom: 5px;}
    .contact-form{
    width: 80%;
    margin: 0 auto;}
    .footer-nav{font-size: 100%;}

}
  



/* for screens from 481 to 767px wide */
@media only screen and (max-width: 767px){
    .col {
        width: 100%;
        margin: 0% 0 4% 0%;
    }
     .section{
      padding: 20px 0;
    }
   .main-nav{display: none;}
    .mobile-nav{
    display: inline-block;
}
    .main-nav {float: left;
               margin-left: 10px;
               margin-top: 35px;}
    
    .main-nav li {
        display: block;   
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0px;
        padding: 10px 0px;
        font-size: 120%
    }
    
    .sticky .main-nav{ margin-top: 10px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        padding-bottom: 15px;
    }
    
    .sticky .mobile-nav{ margin-top: 10px; }
    .sticky .mobile-nav i{ color: #555; }

    
    body,
    html{
        font-size: 16px;} 
    .app-screen{width: 40%;
                -ms-flex-line-pack:center;
                align-content:center;
                float: none;}
    .step-box:first-child{
    text-align: center;
    margin-top: 15px;
    }
    .btn-app img{
    text-align: center;
}
    .step-box:last-child{
    padding-left: 1%;
    margin-top: 15px;
}
    
    

    
}
      
  


/* for screens from 0 to 480px wide */
@media only screen and (max-width: 480px){
    
    section {padding: 10px 0px;}
    body{
        font-size: 15px;
    }
    .hero-text-box{
        font-size: 95%;
        margin-top: 40px;
    }
    .plan-box div:last-child{
    margin-bottom: 5px;
    padding-bottom: 20px;

}
    .contact-form{
        width: 90%;
        margin: 0 auto;
    }
}